.example-spacer {
    flex: 1 1 auto;
  }

  .text{
    width: 70px;
    height: 40px;
    font-size: small;
  }


  .text1{
    width: 60px;
    font-size: small;
    height: 40px;
    margin-right: 5px;
  }


  .text2{
    width: 70px;
    font-size: small;
    height: 40px;
    margin-right: 5px;
  }