.example-spacer {
    flex: 1 1 auto;
  }

  .text{
    width: 40px;
    height: 30px;
    font-size: small;

  }


  .text1{
    width: 60px;
    font-size: small;
    height: 30px;
    margin-right: 5px;
  }

